html, body {
   width:100%;
}

body {
   margin:0;
   padding:0;
}

div.pageContainer {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #000000;
    color: grey;
}

div.main {
    flex: 1;
}

div.statsUnderTitle > i {
    margin-right: 2px;
}

div.statsUnderTitle > span {
    margin-right: 5px;
}

#lighthouse-debug-info > p {
    margin-bottom: 1px;
}

body {
    background: #000;
    color: #99ff99
}

div.ui.menu {
    background: #202020;
}

div.ui.attached.menu:not(.tabular) {
    border: 1px solid #000000;
}

div.ui.menu .item {
    -webkit-transition: background .4s ease, color .4s ease, -webkit-box-shadow .4s ease;
    transition: background .4s ease, color .4s ease, -webkit-box-shadow .4s ease;
    transition: background .4s ease, color .4s ease, -webkit-box-shadow .4s ease;
    transition: background .4s ease, color .4s ease, -webkit-box-shadow .4s ease;
	color: #99FF99;
}

a {
    color: #cdcdcd;
    text-decoration: none;
}

div.ui.segment {
    background: #323232;
}

div.ui.link.menu .item:hover, .ui.menu .dropdown.item:hover, .ui.menu .link.item:hover, .ui.menu a.item:hover {
    cursor: pointer;
    background: rgba(0,0,0,.03);
    color: rgb(85 223 108 / 95%);
}