html, body {
   width:100%;
}

body {
   margin:0;
   padding:0;
}

div.pageContainer {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #000000;
    color: grey;
}

div.main {
    flex: 1;
}

div.statsUnderTitle > i {
    margin-right: 2px;
}

div.statsUnderTitle > span {
    margin-right: 5px;
}

#lighthouse-debug-info > p {
    margin-bottom: 1px;
}

div.segment {
    background-color: #000000;
    color: grey;
}

.ui.menu {
background-color: #1b1c1d;
}
.ui.menu .item {
color: grey;
}
