@page "/donate"
@model LBPUnion.ProjectLighthouse.Pages.Donation

@{
    Layout = "Layouts/BaseLayout";
    Model.Title = "Donation";
}
<h3>Here are a few ways you can support the upkeep of the server</h3>
<h4>Note that these donations are for server upkeep, as it is expensive to run the server, now with a 960GB SSD added, the server total is $104.89 USD a month</h4>
<h4>If I get enough donations I could even upgrade the server further for a better and faster experience</h4>
<h4>So far I have two ways to support. If you are already looking into getting a server of your own, like a Minecraft server. You could use my <a href="https://mcprohosting.com/order?aff=418">MCProhosting affiliate link</a> which doesn't cost you extra, it just gives me a discount, dedicated servers are more expensive than normal game servers, they actually took it off the website, but you can still order a dedicated server through support tickets, starting price is $74.99 USD</h4>
<h4>You can also send me directly through PayPal, I use PayPal to pay for the server, so it would also act like a discount on my part. You can find me via @FridiNaTor or this <a href="https://paypal.me/FridiNaTor?country.x=DK&locale.x=en_US">link</a></h4>
<h3>Note, this is not mandatory at all for you to play. Playing is free, and this is your own choice, it could help keeping the server up.</h3>
