@page "/rules"
@model LBPUnion.ProjectLighthouse.Pages.rules

@{
    Layout = "Layouts/BaseLayout";
    Model.Title = "Rules";
}
<h3>Listen up buddy, the rules are simple</h3>
<p>1. No Pornographic content, or references this can get you an immidiate ban!</p>
<p>2. No swear words, this may not get you banned, but moderators will change your swear words into different words, but excessive use, can get you banned!</p>
<p>3. No causing havok to random users through Dive In, swear words count! If someone reports you and have proof of such, we will warn you</p>
<p>4. No attacking other players through comments, reviews, and such. Behave!</p>
<p>If you swear through voice chat, or just chat with friends, that is okay, we can't monitor that, but keep it PG publicly, there are kids around</p>  
